{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load pygmentize %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-8">
    <br>
    <div class="card">
      <h5 class="card-header">{{snippet.name}} <a href="{% url 'snippets:user_snippets' snippet.user.id%}"  class="float-right"><small>{{snippet.user.username}}</small></a></h5>
      <div class="card-body">
        <a href="{% url 'snippets:language' snippet.language.id %}"><h5 class="card-title">{{snippet.language.name}}</h5></a> 
        <h6 class="card-subtitle mb-2 text-muted">Creado: {{snippet.created}}</h6>
        <p class="card-text">{{snippet.description}}</p>
        <div style="background-color:lightgray;border-radius: 5px;">
          <!-- Código del Snippet -->
          <div class="container">
            <div class="sourcecode">
                {{ code|pygmentize:"python3" }}  <!-- highlighting -->
            </div>
          </div>
          <!-- Código del Snippet -->
        </div>
        <hr>
        <br>
        {% if request.user.id == snippet.user.id %}
        <a href="{% url 'snippets:snippet_edit' snippet.id %}" class="btn btn-info">Editar</a>
        <a href="{% url 'snippets:snippet_delete' snippet.id %}" class="btn btn-danger">Eliminar</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}