{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row justify-content-md-center" style="padding-top:20px;">
    <div class="col-md-8">
        <h1>Snippets</h1>
        <br>
        {% for obj in object_list %}
        <!-- SNIPPET -->
        <div class="card">
            <h5 class="card-header">{{obj.name}} <a href="{% url 'user_snippets' %}"  class="float-right"><small>{{obj.user.username}}</small></a></h5>
            <div class="card-body">
                <a href="{% url 'language' %}"><h5 class="card-title">{{obj.language.name}}</h5></a> 
                <h6 class="card-subtitle mb-2 text-muted">Creado: {{obj.created}}</h6>
                <p class="card-text">{{obj.description}}</p>
                <hr>
                <a href="{% url 'snippet' obj.id %}" class="btn btn-primary">Ver</a>
                <a href="{% url 'snippet_edit' obj.id %}" class="btn btn-info">Editar</a>
                <a href="{% url 'snippet_delete' obj.id %}" class="btn btn-danger">Eliminar</a> 
            </div>
        </div>
        <br>
        <!-- FIN SNIPPET -->
        {% endfor %}
  </div>
</div>
{% endblock %}